/* Conteneur du menu */
.menu {
    position: absolute;
    top: 35%; /* Fait remonter le conteneur du menu vers le haut */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 43);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 400px; /* Augmente la largeur du conteneur du menu */
}

/* Bouton du menu */
.menu button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    font-size: 26px;
    font-weight: bold;
    color: #f7f7f7;
    transition: color 0.6s;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Flèche du menu */
.menu .arrow {
    width: 35px;
    height: 15px;
    transform: rotate(0deg);
    transition: transform 0.9s;
}

/* Liste du menu */
.menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #05011f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(2, 0, 10, 0.911);
    clip-path: inset(10% 50% 90% 50% round 10px);
    pointer-events: none;
    /* Animation d'apparition du menu */
    animation: fadeIn 0.2s forwards;
    width: 100%;
}

/* Éléments de la liste */
.menu li {
    padding: 20px;
    opacity: 0;
    transform: scale(0.9);
    filter: blur(20px);
    transition: opacity 0.8s, transform 0.8s, filter 0.6s;
  
    /* Animation d'apparition des éléments de la liste */
    animation: fadeIn 0.8s forwards;
    width: 100%;
}

/* Éléments de la liste impairs */
.menu li:nth-child(odd) {
    background-color: #32307e;
}

/* Éléments de la liste pairs */
.menu li:nth-child(even) {
    background-color: #1d2d75;
}

/* Élément de la liste survolé */
.menu li:hover {
    background-color: #142417;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
        filter: blur(20px);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}