@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-600%);
  }
  to {
    transform: translateX(4);
  }
}

/* Ajoutez d'autres animations personnalisées au besoin */

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease-out;
}
@keyframes shiningAnimation {
  0% {
    text-shadow: 0 0 10px rgba(0, 16, 51, 0.637);
  }
  50% {
    text-shadow: 0 0 20px rgb(0, 16, 24);
  }
  100% {
    text-shadow: 0 0 10px rgba(221, 232, 238, 0.719);
  }
}

.text-gradient {
  background: linear-gradient(45deg, #1900fc, #8395a7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shiningAnimation 2s infinite;
}
