/* Classe CSS pour ajouter un effet de scintillement aux boutons */
.button-shine {
  position: relative; /* Positionnement relatif pour contenir l'élément ::before absolument positionné */
  overflow: hidden; /* Cache toute partie de l'élément ::before qui dépasse les limites du bouton */
}

.button-shine::before {
  content: ""; /* Utilisé pour créer un élément décoratif sans contenu réel */
  position: absolute; /* Positionnement absolu pour permettre un contrôle total de la position de l'élément */
  top: 0; /* Aligne l'élément en haut du bouton */
  left: -100%; /* Commence à l'extérieur du côté gauche du bouton */
  width: 200%; /* Fait en sorte que l'élément couvre suffisamment le bouton lors du déplacement */
  height: 100%; /* Couvre toute la hauteur du bouton */
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  ); /* Crée un dégradé de lumière traversant le bouton */
  transition: all 4.5s ease; /* Ajoute une transition lisse à tous les changements de propriétés */
  transform: skewX(
    -20deg
  ); /* Incline l'élément pour un effet de scintillement dynamique */
}

.button-shine:hover::before {
  left: 100%; /* Déplace l'élément au-delà du côté droit du bouton */
  transition: all 2s ease; /* Maintient la transition lisse pour le mouvement de l'élément */
}
